
@font-face {
    font-family: 'league_spartanbold';
    src: url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, .container {
    height: 100%;
    background-color:#232323;
}

h2{
  color:#D7D7D7;
}
a {
  color:inherit;
  text-decoration: none;
 }
.container {
    font-family: 'league_spartanbold';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}
